* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {font-size: 1vw;}
input {display: none;}
.wrapper {width: 100%;}
img {object-fit: cover;}
::selection {
    background: #c4956a;
}

#design-helper {
    height: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}
header {
    background: linear-gradient(to bottom, #282828 85%, #2f2f2f 15%);
    width: calc(100% * (1 / 3));
    height: 100%;
    padding-top: 1em;
    position: relative;
}
#top-header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo {
    width: 40%;
    height: 35%;
}
#logo > img {
    width: 100%;
    height: 100%;
}
#menu-bar + label {
    width: 8%;
    height: 27%;
    position: relative;
}
#menu-bar + label > span {
    width: 80%;
    height: 1px;
    background-color: #fff;
    transition: all .4s;
    position: absolute;
}
#menu-bar + label > span:nth-of-type(1) {
    top: 0;
    width: 0;
}
#menu-bar + label:hover > span:nth-of-type(1) {
    width: 80%;
}
#menu-bar + label > span:nth-of-type(2) {
    top: calc( 50% - .5px );
}
#menu-bar + label > span:nth-of-type(3) {
    bottom: 0;
    width: 45%;
}
#menu-bar + label:hover > span:nth-of-type(3) {
    width: 80%;
}
#menu-bar:checked + label > span:nth-of-type(1) {
    width: 80%;
    top: calc( 50% - .5px );
    transform: rotate(45deg);
}
#menu-bar:checked + label > span:nth-of-type(2) {
    opacity: 0;
}
#menu-bar:checked + label > span:nth-of-type(3) {
    width: 80%;
    bottom: calc( 50% - .5px );
    transform: rotate(-45deg);
}
#menu-window {
    position: absolute;
    left: 100%;
    top: -90px;
    width: 140%;
    height: 90px;
    display: flex;
    align-items: center;
    z-index: 1;
    transition: .3s;
    background-color: #fff;
}
#menu-window > ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#menu-window > ul > li {
    font-size: .9rem;
    font-weight: bold;
    transition: .5s;
}
#menu-window > ul > li:nth-of-type(1) {
    color: #c4956a;
}
#menu-window > ul > li:hover {
    cursor: pointer;
    color: #c4956a;
}

#menu-bar:checked ~ #menu-window {top: 0px;}
#mid-header {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#mid-header > h1 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: lighter;
    font-family: 'Black Han Sans';
    word-spacing: .1em;
    margin: 1em 0;
}
#mid-header > p {
    font-size: 1rem;
    color: #c4956a;
    font-weight: bold;
    margin: 1.5em;
    margin-left: 8em;
    margin-right: unset;
}
#mid-header > p::selection {
    background-color: #c4956a;
    color: #fff;
}
#mid-header > p > br::selection {
    background-color: #c4956a;
    color: #fff;
}
#mid-header > button {
    width: 25%;
    height: 10%;
    margin-right: 10vw;
    border: 1px solid #c4956a;
    background-color: #282828;
    transition: .7s;
}
#mid-header > button > p {
    font-size: .7rem;
    color: #fff;
    z-index: 1;
}
#mid-header > button:hover {
    background-color: #c4956a;
    cursor: pointer;
    transform: scale(.95);
}
#bottom-header {
    width: 100vw;
    height: 30%;
}

#visual {
    position: relative;
    width: calc(100% * (2 / 3));
    height: 100%;
}
#visual-controller {
    position: absolute;
    width: 11vw;
    height: 9vw;
    bottom: 8%;
    left: -22%;
    background-color: #c4956a;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 18px 18px 5px 7px #242323;
}
#visual-controller > button {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin: 0 .5em;
    background-color: #c4956a;
    border: 2px solid rgba(255, 255, 255, 0.445);
    font-size: 1rem;
    color: #fff;
    transition: .3s;
}
#visual-controller > button:hover {
    color: rgba(255, 255, 255, 0.445);
    cursor: pointer;
}
#visual-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#visual-box {
    width: 100%;
    height: 100%;
}
#visual-list {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0%;
    transition: .5s;
}
.visual-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.visual-content:nth-of-type(1){left: 0%;}
.visual-content:nth-of-type(2){left: 100%;}
.visual-content:nth-of-type(3){left: 200%;}
.visual-content > img {
    width: 100%;
    height: 100%;
    transition: all .6s;
}
.visual-content > img:hover {
    transform: scale(1.01);
}
#visual-info {
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    background-color: #282828;
    padding-left: 3em;
    padding-right: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
#visual-info > h1 {
    font-size: 3.5rem;
    color: #3b3b3b;
    letter-spacing: .3em;
}
#visual-info > p:nth-of-type(1) {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}
#visual-info > p:nth-of-type(2) {
    color: #c4956a;
    font-weight: bold;
    font-size: 1rem;
}
#visual-info > p:nth-of-type(2)::selection {
    background-color: #c4956a;
    color: #fff;
}
#visual-info > p:nth-of-type(3) {
    color: #c4956a;
    font-weight: bold;
    font-size: 1rem;
}
#visual-info > p:nth-of-type(3)::selection {
    background-color: #c4956a;
    color: #fff;
}
#visual-info > span {
    width: 15%;
    height: 1px;
    background-color: #3f3f3f;
}

#mountains {
    height: 30vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
    margin-bottom: 5vw;
}
#choice-mountains {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    position: relative;
    right: 4vw;
    transition: 1s;
}
.mountainschoiceFadeIn {
    opacity: 1 !important;
    right: 0vw !important;
}
#choice-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.choice-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.choice-content > img {
    width: 5vw;
    height: 5vw;
    margin-right: 1em;
}
.choice-content > h4 {
    font-size: 1.2rem;
    font-weight: lighter;
    position: relative;
    padding-bottom: .3em;
}
.choice-content > h4 > span {
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: .7s;
}
.choice-content > h4:hover {
    cursor: pointer;
}
.choice-content > h4:hover > span {
    width: 100%;
}
#map-container {
    width: 35%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
#mountains-title {
    position: absolute;
    top: -15%;
    left: 0;
    text-align: left;
    opacity: 0;
    transition: 1s;
}
.mountainsTitleFadeIn {
    top: 5% !important;
    opacity: 1 !important;
}
#mountains-title > h2 {
    font-size: 2rem;
    font-family: 'Black Han Sans';
    font-weight: lighter;
}
#mountains-title > p {
    color: #c4956a;
    font-weight: bold;
    font-size: 1rem;
}
#map-list {
    width: 100%;
    height: 100%;
    position: relative;
}
.map-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* padding-bottom: 4em; */
    position: absolute;
    top: 0;
}
.map-content:nth-of-type(1) {
    left: 0%;
}
.map-content:nth-of-type(2) {
    left: 100%;
}
.map-content:nth-of-type(3) {
    left: 200%;
}
.map-content:nth-of-type(4) {
    left: 300%;
}
.map-content > iframe {
    width: 100%;
    height: 60%;
    border-radius: 1vw;
}
#mountains-video {
    width: 120%;
    height: 100%;
    border-radius: 1vw;
    opacity: 0;
    transition: 1s;
}
.mountainsvideoFadeIn {
    width: 100% !important;
    height: 80% !important;
    opacity: 1 !important;
}
.map-content:nth-of-type(1) > span {
    font-size: 2vw;
    position: absolute;
    top: calc( 50% - 1.5vw );
    left: calc( 50% - 1.5vw );
    color: #c4956a;
    font-weight: lighter;
    opacity: 0;
}

#famous-mountain {
    height: 35vw;
    background-color: #282828;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
#famous-mountain > span {
    display: inline-block;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #2f2f2f;
    z-index: -1;
}
#famous-mountain > span:nth-of-type(1) {left: 40%;}
#famous-mountain > span:nth-of-type(2) {left: 50%;}
#famous-mountain > span:nth-of-type(3) {left: 60%;}
#famous-left-container {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    z-index: 1;
}
#famous-left-container > h2 {
    font-size: 2.3rem;
    text-align: left;
    color: #fff;
    font-family: 'Black Han Sans';
    letter-spacing: .1em;
    padding: .3em 0;
}
#famous-left-container > p {
    font-size: .8rem;
    color: #c4956a;
    padding: .8em 0;
}
#famous-left-container > p:nth-of-type(1) {
    font-size: 1.2rem;
    font-weight: bold;
}
#famous-left-container > p:nth-of-type(1)::selection {
    background-color: #c4956a;
    color: #fff;
}
#famous-left-container > p:not(:first-of-type) {
    color: rgba(255, 255, 255, 0.473);
    text-align: left;
}

#famous-right-container {
    width: 40%;
    height: 100%;
    padding: 5em 0;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 35% 35%;
    gap: 1vw;
    align-content: center;
    justify-content: center;
}
.famouse-content {
    width: 100%;
    height: 100%;
    position: relative;
    padding: .3em;
    transition: 1s;
}
.famouse-content:nth-of-type(odd) {
    opacity: 0;
    top: -3vw;
}
.famouse-content:nth-of-type(even) {
    opacity: 0;
    bottom: -3vw;
}
.oddFamouseContentFadeIn {
    opacity: 1 !important;
    top: 0 !important;
}
.evenFamouseContentFadeIn {
    opacity: 1 !important;
    bottom: 0 !important;
}
.famouse-content > span {
    position: absolute;
    background-color: #c4956a;
    transition: .4s;
}
.famouse-content > span:nth-of-type(1) {
    left: 0;
    top: 0;
    width: 0;
    height: 1px;
}
.famouse-content > span:nth-of-type(2) {
    width: 1px;
    height: 0;
    right: 0;
    bottom: 0;
}
.famouse-content > span:nth-of-type(3) {
    width: 0;
    height: 1px;
    right: 0;
    bottom: 0;
}
.famouse-content > span:nth-of-type(4) {
    width: 1px;
    height: 0;
    left: 0;
    top: 0;
}
.famouse-content:hover > span:nth-of-type(odd) {
    width: 100%;
}
.famouse-content:hover > span:nth-of-type(even) {
    height: 100%;
}
.famouse-content > img {
    width: 100%;
    height: 100%;
}
.mountain-info {
    display: flex;
    flex-direction: row;
}
.mountain-info > span {
    color: #c4956a;
    font-size: .9rem;
    font-weight: bold;
}
.mountain-info > p {
    margin-left: .5em;
    color: #fff;
    font-family: 'Black Han Sans';
}

#climber {
    height: 35vw;
    padding-top: 5vw;
    background-color: #f5f5f5;
}
#climber-title {
    width: 100%;
    height: 6vw;
}
#climber-title > h2 {
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Black Han Sans';
    letter-spacing: .1em;
}
#climber-title > p {
    color: #c4956a;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
#climber-container {
    width: 100%;
    height: calc( 100% - 6vw );
}
#climber-list {
    width: 65%;
    height: 84%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
}
.climber-content {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #cdced2;
    transition: .3s;
    border-radius: 10px;
}
.climber-content > img{
    width: 100%;
    height: 100%;
    transition: .3s;
}
.climber-content:hover {
    background-color: #e9e9e9;
}
.climber-content:hover > img {
    transform: translateY(-50px)
}
.climber-name {
    width: 100%;
    height: 3vw;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 1em;
}
.climber-name > p {
    font-size: 1rem;
    font-family: 'Black Han Sans';
    font-weight: lighter;
}
.climber-content:nth-of-type(1) > .climber-name:nth-of-type(1) > p {
    font-size: 1.3rem;
    font-family: unset;
    font-weight: bold;
}
footer {
    height: 5vw;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > p {
    font-size: .8rem;
    color: #686868;
    font-weight: lighter;
}

@media (max-width: 1024px) {
    header {
        width: calc( 100% * (1 / 4));
        padding-top: 5vw;
    }
    #top-header {
        background-color: #282828;
        z-index: 10000000000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 5vw;
        justify-content: flex-start;
        padding: 0 1em;
    }
    #logo {
        width: 18%;
        height: 50%;
        margin-right: 2em;
    }
    #top-header > label {
        width: 3%;
        height: 35%;
    }
    #top-header > label > span {
        width: 100% !important;
    }
    #menu-window {
        width: calc(100vw * (1 / 4));
        height: 100vh;
        left: calc(-100vw * (1 / 4));
        top: 5vw;
        z-index: -1;
    }
    #menu-window > ul {
        flex-direction: column;
        justify-content: flex-start;
    }
    #menu-window > ul > li {
        width: 100%;
        height: 4vw;
        color: #282828;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: 1s;
        font-size: 1.5rem;
        padding: 0 1em;
    }
    #menu-window > ul > li:not(:last-of-type) {
        margin-bottom: 1em;
    }
    #menu-window > ul > li:hover {
        color: #fff;
        background-color: #c4956a;
    }
    #menu-window > ul > li:nth-of-type(1) {
        color: #fff;
        background-color: #c4956a;

    }
    #menu-bar:checked ~ #menu-window {
        top: 5vw;
        left: 0;
    }
    #mid-header {
        height: 83.5%;
        padding: 0 2em;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    #mid-header > h2 {
        margin: unset;
    }
    #mid-header > p {
        font-size: 1.5rem;
        margin: unset;
    }
    #mid-header > button {
        width: 50%;
    }
    #mid-header > button > p {
        font-size: 1.5rem;
        font-weight: bold;
    }
    #visual {
        width: calc( 100% * (3 / 4));

    }
    #visual-controller {
        width: calc( 100vw * (1 / 4));
        height: 15%;
        left: calc( -100vw * (1 / 4));
        bottom: 0;
        box-shadow: unset;
        background: unset;
    }
    #visual-controller > button {
        width: 4.5vw;
        height: 4.5vw;
        background: unset;
    }
    #visual-info > p {
        font-size: 1.6rem !important;
    }
}